<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error { color: red; font-weight: bold;}
            .success { color: green; font-weight: bold;}
            .italics { font-style: italic; }
        </style>
    </head>
    <body>
        <div style='float: right'>
                {% if 'email' in session %}
                    Logged in as {{ session['email'] }}
                    <form action="/logout">
                    <input type="submit" value="Log Out" />
                    </form>
                {% else %}
                    <a href="login">Login</a> | <a href="signup">Create Account</a>
                {% endif %}
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/blog">All Posts</a>
            <a href="/newpost">Add New Post</a>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class=flashes>
            {% for category,message in messages %}
            <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}

    </body>
</html>
