<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            .error { color: red; font-weight: bold;}
            .success { color: green; font-weight: bold;}
            .italics { font-style: italic; }
        </style>
    </head>
    <body>
        <div class="w3-bar w3-teal">
            <nav>
                <a href="/" class="w3-bar-item w3-button">Home</a>
                <a href="/blog" class="w3-bar-item w3-button">All Posts</a>
                <a href="/newpost" class="w3-bar-item w3-button">Add New Post</a>
                {% if 'email' in session %}
                    <span class="w3-bar-item w3-right w3-green"><form action="/logout">
                    <input type="submit" value="Log Out" />
                    </form></span>
                    <span class="w3-bar-item w3-right w3-green">Logged in as {{ session['email'] }}</span>
                {% else %}
                    <a href="login" class="w3-bar-item w3-right w3-green">Login</a>
                    <span class="w3-bar-item w3-right w3-green"> | </span>
                    <a href="signup" class="w3-bar-item w3-right w3-green">Create Account</a>
                {% endif %}
            </nav>
        </div>
        
        <div class="w3-panel">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <ul class=flashes>
                {% for category,message in messages %}
                <li class="{{category}}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        
        {% block content %}
        {% endblock %}

    </body>
</html>
