{% extends "base.html" %}

{% block content %}
    <h1>Log in to EpiBlog</h1>
    <p>If you don't have an account, click <a href="/signup">here</a> to register!</p>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" value="{{ email }}"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>

{% endblock %}